:root {
  --gray: #23252b;
  --oragenge: #f47521;
  --primaryColor: #c2c1c3;
  --secondaryColor: #141519;
  --tertiaryColor: #a0a0a0;
  --newWidth: 0%;
}
body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: #23252b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
nav {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

small {
  font-size: 15px;
  padding: 0;
  color: var(--tertiaryColor);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 15px;
}

li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #f8f8f8;
}

a:hover {
  color: var(--oragenge);
  cursor: pointer;
}

.logo {
  width: 140px;
  height: auto;
}

.header-svg-icon {
  width: 25px;
  height: auto;
  fill: #fff;
  cursor: pointer;
  position: relative;
}

.header-svg-icon:hover {
  fill: var(--oragenge);
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > img {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.search-input-container {
  margin: auto;
  width: 90%;
  margin-top: 20px;
}

.search-input {
  background-color: var(--secondaryColor);
  border: 1px solid var(--primaryColor);
  padding: 15px 15px;
  color: var(--primaryColor);
  font-size: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--primaryColor);
  opacity: 0.5;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow {
  width: 10px;
  height: auto;
}

.user-profile {
  width: 35px;
  height: auto;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  position: relative;
}

.results-container {
  display: grid;
  place-items: center;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  background-color: #000;
  gap: 18px;
}

.results {
  margin-bottom: 20px;
}

.anime-container {
  display: flex;
  width: 140px;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.results-container .anime-container,
.results-container .anime-container > .img-container {
  width: 160px;
}

.results-container .anime-container > .img-container {
  height: 230px;
}
.anime-container:hover > .anime-title,
.anime-container:hover .play-icon {
  /* color azul */
  color: var(--oragenge);
  opacity: 1;
  cursor: pointer;
}

.anime-container:hover .cover-img {
  filter: brightness(0.5);
  cursor: pointer;
  transform: scale(1.1);
}

.img-container {
  aspect-ratio: 0.71;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  object-fit: contain;
  margin: 0;
  position: relative;
}

@media (min-width: 769px) {
  .list-container {
    gap: 35;
  }
  .anime-container {
    width: 203px;
  }
  .img-container {
    width: 203px;
    height: 304px;
  }
}

.cover-img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.play-icon {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 60px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.anime-title {
  font-size: 15px;
  margin: 10px 0 0 0;
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) para indicar que el texto se ha truncado */
  overflow: hidden; /* Oculta el contenido que se desborda del párrafo */
  max-width: 100%;
}

.anime-genre {
  color: var(--tertiaryColor);
  font-size: 15px;
  margin: 0;
}

.main-list {
  padding-bottom: 15px;
  border-bottom: 0.125rem solid #23252b;
}

.menu-phone {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 3;
  padding-top: 15px;
  background-color: var(--secondaryColor);
  overflow: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

.menu-phone > small {
  padding-left: 20px;
}

.link-arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}

.hero-carousel {
  overflow: hidden;
}

.carousel-btns-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.carousel-btn {
  border: none;
  background-color: transparent;
}

.carousel-btn:hover {
  cursor: pointer;
}

.carousel-btn > img {
  width: 55px;
  height: auto;
}

.position-right > img {
  transform: rotate(180deg);
}

.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100%;
  white-space: nowrap;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  position: relative;
  width: 100%; /* Asegura que las tarjetas ocupen todo el ancho del contenedor */
  scroll-snap-align: start; /* Alinea las tarjetas en el inicio del contenedor */
  flex: 0 0 auto;
}

.card-img-container {
  margin: 0;
  position: relative;
}

.card-img {
  width: 100%;
  max-height: 95vh;
  object-fit: cover;
}

.card-img-xl {
  display: none;
  width: 100%;
}

.card-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media screen and (min-width: 769px) {
  /* Estilos para pantallas con un ancho mínimo de 769px (laptops) */
  .hero-carousel {
    margin-bottom: 15px;
  }
  .card-img-container {
    max-height: 80vh;
    overflow: hidden;
  }
  .card-img {
    max-height: 410px;
    display: none;
  }
  .card-img-xl {
    display: block;
  }
}

.btn-crunchy {
  background-color: var(--oragenge);
  border: none;
  padding: 10px 40px;
  color: var(--gray);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.btn-crunchy:hover {
  cursor: pointer;
  background-color: #ff8839;
  color: var(--gray);
}

.carousel-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 3%;
  left: 0;
  width: 100%;
  padding: 15px 0;
}

.carousel-btns > .watchlist-svg {
  fill: var(--oragenge);
  padding: 7px;
}

.card-play {
  width: 20px;
  height: auto;
}

.favorite {
  width: 30px;
  height: auto;
  fill: var(--oragenge);
  border: 2px solid var(--oragenge);
  transition: all 0.3s ease-in-out;
}

.favorite:hover {
  cursor: pointer;
  border: 2px solid #ff8839;
}

.anime-logo {
  width: 60%;
  height: auto;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.list-container {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.right {
  transform: rotate(270deg);
}

.watching {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.anime-list {
  width: 90%;
  margin-left: 30px;
}

.img-cover {
  width: 160px;
  height: 90px;
  object-fit: cover;
  object-position: top center;
}

.cover-container {
  position: relative;
}

.cover-container:hover {
  cursor: pointer;
}

.cover-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--newWidth);
  height: 4px;
  background-color: var(--oragenge);
}

.cover-container > .play-icon {
  opacity: 1;
  width: 25px;
  height: auto;
}

.minutes {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  padding: 4px;
  font-weight: 600;
  bottom: 10%;
  right: 5%;
}

.anime-watching-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.watching-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

@media (min-width: 769px) {
  .watching-info {
    gap: 13px;
  }
}
.watching-title {
  color: var(--tertiaryColor);
  font-size: 11px;
  text-transform: uppercase;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (min-width: 575px) {
  .watching-title {
    max-width: none;
  }
}

.watching-episode {
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (min-width: 769px) {
  .anime-watching-container {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
  .watching-title {
    font-size: 14px;
    white-space: normal;
    text-align: left;
    word-wrap: break-word;
    width: auto;
    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .watching-episode {
    font-size: 17px;
  }
}

.watching-title,
.watching-episode {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.anime-list-scroll-wrapper {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100%;
  white-space: nowrap;
}

.anime-list-scroll-wrapper::-webkit-scrollbar {
  display: none;
}
.anime-description {
  display: none;
}

@media (min-width: 769px) {
  .carousel-card {
    display: flex;
  }
  .anime-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    bottom: 25%;
    left: 5%;
    width: 50%;
    height: auto;
    gap: 35px;
  }
  .anime-description {
    display: block;
    white-space: normal;
    text-align: left;
    word-wrap: break-word;
    color: var(--primaryColor);
    width: auto;
    max-width: 40ch;
  }
  .carousel-btns {
    justify-content: flex-start;
    left: 5%;
  }
  .anime-logo {
    position: relative;
    left: 0;
    transform: none;
    width: 250px;
    height: auto;
  }
  .anime-list {
    width: 95%;
    position: relative;
  }
  .card-img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.banner {
  display: grid;
  width: 87%;
  margin-left: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  margin: 25px 0 25px 30px;
}

.banner:hover {
  cursor: pointer;
}

.banner-img-sm {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner-img-xl {
  display: none;
}

@media (min-width: 769px) {
  .banner {
    width: 95%;
  }
  .banner-img-sm {
    display: none;
  }
  .banner-img-xl {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ripple:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.cover-container.ripple {
  margin: 0;
  max-height: 90px;
}

.animeList-btns-container {
  display: none;
}

@media (min-width: 769px) {
  .recommendations-section {
    position: relative;
  }
  .animeList-btns-container {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
  }
  .next-btn {
    right: 0;
  }
  .list-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .animeList-btns {
    background: transparent;
    border: none;
  }

  .animeList-btns:hover {
    cursor: pointer;
  }

  .animeList-btns > img {
    width: 45px;
    height: auto;
  }
}

.recommended-anime-section {
  width: 90%;
  margin: 30px 0 20px 30px;
}

.recommended-anime-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.recommended-img-container {
  height: auto;
  margin: 0;
}

.recommended-img-container:hover {
  cursor: pointer;
}

.recommended-img-container > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recommended-anime-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.recommended-anime-info > h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.anime-type {
  color: #2abdbb;
}

.recommended-anime-synopsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-top: 10px;
  font-size: 15px;
  width: 95%;
}

.btns-crunchy-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
}

.btns-crunchy-container > .btn-crunchy {
  width: 95%;
  align-self: auto;
}

.btn-favorite {
  background-color: #000;
  border: 2px solid var(--oragenge);
  color: var(--oragenge);
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
  gap: 0;
  display: none;
}

.btn-favorite > .favorite {
  border: none;
}

.btn-favorite:hover {
  background-color: inherit;
  color: #ff8839;
  border: 2px solid #ff8839;
}

.recommended-anime-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.watchlist-svg {
  width: 25px;
  height: auto;
  fill: #fff;
  cursor: pointer;
}
@media (min-width: 769px) {
  .recommended-anime-container {
    gap: 35px;
  }
  .btns-crunchy-container > .btn-crunchy {
    width: auto;
  }
  .btn-favorite {
    display: flex;
  }
  .recommended-anime-details > .watchlist-svg {
    display: none;
  }
  .recommended-anime-synopsis {
    font-size: 16px;
  }
}

.anime-page-body {
  margin: 0 5vw;
  position: absolute;
  top: 70%;
  z-index: 12;
  padding-bottom: 80px;
}

@media (min-width: 769px) {
  .anime-page-body {
    margin: 0 11vw;
  }
}

.anime-page-body > .carousel-btns::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.anime-page-body > .carousel-btns {
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  z-index: 12;
  margin: 0 5vw;
  flex-wrap: wrap;
  width: 90vw;
}

.anime-page-body > .carousel-btns > .btn-crunchy {
  flex-grow: 1;
  padding: 10px;
}

.rated-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.star-icon {
  transition: all 0.3s ease-in-out;
}

.star-rating__star--on {
  fill: var(--oragenge);
}

.star-icon:hover:not(.star-rating__star--on) {
  fill: var(--oragenge);
  cursor: pointer;
}

.current-anime-cover {
  width: 100%;
  object-fit: cover;
}

.current-anime-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blurred-cover {
  filter: blur(7px);
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
  display: none;
}

.blurred-cover > img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.anime-cover-min {
  z-index: 10;
  aspect-ratio: 1;
  height: 70vh;
  width: inherit;
}

.current-anime-cover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(25vh);
  z-index: 11;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.current-anime-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.current-anime-info > .anime-list-title {
  font-weight: 500;
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .current-anime-cover {
    max-height: calc(100vh - 410px);
    overflow: hidden;
  }
  .blurred-cover {
    display: block;
  }
  .current-anime-info > .anime-list-title {
    font-size: 36px;
  }
  .anime-cover-min {
    position: absolute;
    width: auto;
  }
  .anime-page-body > .carousel-btns::before,
  .current-anime-cover::before {
    background: transparent;
  }
  .anime-page-body {
    position: inherit;
  }
  .anime-page-body > .carousel-btns > .btn-crunchy {
    flex-grow: 0;
  }
}

.current-anime-synopsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
